# TODO(ncdc): consider moving everything outside of namespaces, crds, clusterroles, clusterrolebindings
# into Roles/RoleBindings that are specific to the OLM component namespaces
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-olm-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    capability.openshift.io/name: "OperatorLifecycleManagerV1"
rules:
  - apiGroups:
      - networking
    resources:
      - networkpolicies
    verbs:
      - create
      - update
      - patch
      - get
      - list
      - watch
      - delete
  - apiGroups:
      - config.openshift.io
    resources:
      - infrastructures
      - proxies
      - featuregates
      - clusterversions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - update
      - patch
  - apiGroups:
      - config.openshift.io
    resources:
      - clusteroperators
    verbs:
      - list
      - watch
  - apiGroups:
      - config.openshift.io
    resources:
      - clusteroperators
    resourceNames:
      - olm
    verbs:
      - get
  - apiGroups:
      - config.openshift.io
    resources:
      - clusteroperators/status
    resourceNames:
      - olm
    verbs:
      - update
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - update
      - patch
      - get
      - list
      - watch
      - delete
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
      - list
      - watch
  # necessary for OCP monitoring
  # together with endpoints, services, pods
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - namespaces
      - services
      - serviceaccounts
    verbs:
      - create
      - update
      - patch
      - get
      - list
      - watch
      - delete
  - apiGroups:
    - apiextensions.k8s.io
    resources:
    - customresourcedefinitions
    verbs:
    - create
    - update
    - patch
    - get
    - list
    - watch
    - delete
  - apiGroups:
    - operator.openshift.io
    resources:
    - olms
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - operator.openshift.io
    resources:
    - olms
    - olms/status
    verbs:
    - update
    - patch
    resourceNames:
    - cluster
  - apiGroups:
    - apps
    resources:
    - replicasets
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - apps
    resources:
    - deployments
    verbs:
    - create
    - update
    - patch
    - get
    - list
    - watch
    - delete
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
    - roles
    - rolebindings
    - clusterroles
    - clusterrolebindings
    verbs:
    - escalate
    - create
    - update
    - patch
    - get
    - list
    - watch
    - delete
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
    - clusterroles
    - roles
    verbs:
    - bind
    resourceNames:
    - catalogd-manager-role
    - catalogd-metrics-monitor-role
    - catalogd-metrics-reader
    - catalogd-proxy-role
    - catalogd-leader-election-role
    - operator-controller-manager-role
    - operator-controller-metrics-monitor-role
    - operator-controller-metrics-reader
    - operator-controller-proxy-role
    - operator-controller-leader-election-role
    - bundle-reader
    - bundle-uploader
    - core-admin
    - helm-provisioner-admin
    - rukpak-webhooks-admin
    - cluster-admin
  - apiGroups:
    - admissionregistration.k8s.io
    resources:
    - validatingwebhookconfigurations
    - mutatingwebhookconfigurations
    verbs:
    - create
    - update
    - patch
    - get
    - list
    - watch
    - delete
  - apiGroups:
    - admissionregistration.k8s.io
    resources:
    - validatingadmissionpolicies
    - validatingadmissionpolicybindings
    verbs:
    - create
    - update
    - patch
    - get
    - list
    - watch
    - delete
  # For validating admission policies and bindings to work
  # this service account must have "get" permission on resources
  # mentioned in paramKind of the policy and have "list" permission
  # on the resources mentioned in paramRef of the binding
  - apiGroups:
    - olm.operatorframework.io
    resources:
    - clusterextensions
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - olm.operatorframework.io
    resources:
    - clustercatalogs
    verbs:
    - list
    - watch
    - create
    - patch
    - update
  - apiGroups:
    - ""
    resources:
    - configmaps
    verbs:
    - update
    - patch
    resourceNames:
    - operator-controller-openshift-ca
  - apiGroups:
    - networking.k8s.io
    resources:
    - networkpolicies
    verbs:
    - create
    - update
    - patch
    - get
    - list
    - watch
    - delete
