apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: openshift-cluster-olm-operator
  name: cluster-olm-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    capability.openshift.io/name: "OperatorLifecycleManagerV1"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: cluster-olm-operator
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
        openshift.io/required-scc: restricted-v2
      labels:
        name: cluster-olm-operator
    spec:
      serviceAccountName: cluster-olm-operator
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      initContainers:
        - name: copy-catalogd-manifests
          image: quay.io/openshift/origin-olm-catalogd:latest
          imagePullPolicy: IfNotPresent
          command:
          - /bin/sh
          args:
          - -c
          - /cp-manifests /operand-assets
          volumeMounts:
            - mountPath: /operand-assets
              name: operand-assets
          securityContext:
            readOnlyRootFilesystem: true
          terminationMessagePolicy: FallbackToLogsOnError
        - name: copy-operator-controller-manifests
          image: quay.io/openshift/origin-olm-operator-controller:latest
          imagePullPolicy: IfNotPresent
          command:
          - /bin/sh
          args:
          - -c
          - /cp-manifests /operand-assets
          volumeMounts:
          - mountPath: /operand-assets
            name: operand-assets
          securityContext:
            readOnlyRootFilesystem: true
          terminationMessagePolicy: FallbackToLogsOnError
      containers:
      - name: cluster-olm-operator
        image: quay.io/openshift/origin-cluster-olm-operator:latest
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - containerPort: 8443
          name: metrics
        command:
        - /cluster-olm-operator
        args:
        - start
        imagePullPolicy: IfNotPresent
        env:
        - name: OPERATOR_NAME
          value: cluster-olm-operator
        - name: OPERATOR_IMAGE_VERSION
          value: 0.0.1-snapshot
        - name: KUBE_RBAC_PROXY_IMAGE
          value: quay.io/openshift/origin-kube-rbac-proxy:latest
        - name: CATALOGD_IMAGE
          value: quay.io/openshift/origin-olm-catalogd:latest
        - name: OPERATOR_CONTROLLER_IMAGE
          value: quay.io/openshift/origin-olm-operator-controller:latest
        - name: RELEASE_VERSION
          value: "foo"
        - name: RELEASE_VERSION2
          value: "0.0.1-snapshot"
        resources:
          requests:
            cpu: 10m
            memory: 20Mi
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        volumeMounts:
        - mountPath: /var/run/secrets/serving-cert
          name: cluster-olm-operator-serving-cert
        - mountPath: /operand-assets
          name: operand-assets
        - mountPath: /tmp
          name: tmp
      volumes:
      - name: cluster-olm-operator-serving-cert
        secret:
          secretName: cluster-olm-operator-serving-cert
          optional: true
      - name: operand-assets
        emptyDir: {}
      - name: tmp
        emptyDir: {}
      nodeSelector:
        kubernetes.io/os: linux
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: 120
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
        tolerationSeconds: 120
      priorityClassName: system-cluster-critical
